<div class="row">
    <div class="column column-3">
      <article class="about-photo">
      <center><img class="ellephoto" src='https://scontent.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11140132_10206553462251279_7963240667047791408_n.jpg?oh=a097c63085b2183d34a44547c15b7266&oe=5684C0B9'></center>
      </article>
    </div>
    <div class="column column-6">
      <article class="aboutMe">
        <h1> Hello, I'm Elle.</h1>
        <p>I am a Kirkland-based full stack web developer.<br><br>
        I love that web development allows me to be creative through logic and language.
        I've always had a fascination with code since a young age
        and through General Assembly, I was able to explore this interest. That interest
        became a passion and that passion is the driving force behind my career. <br><br>

        Before my pursuit into web development, I was working in property management
        with a psychology and music theory degree from the University of Washington. I
        also have experience as a sales professional in the retail industry, as an industry guest
        liaison for a non-profit organization and as a certified nursing assistant. Those experiences
        have taught me invaluable lessions, which I can utilize as a web developer.
        <br><br>

        Besides my love for web development, I also love French pastries, Sherlock Holmes and
        learning new languages (currently trying to learn French). Also, please don't judge me because
        of the fact that I've never seen any of the Star Wars movies, Lord of the Rings movies, or
        having heard WonderWall by Oasis for the first time ever in September 2015. But I promise,
        I'm getting to it :)
        </p>
      </article>
    </div>
</div>