<center><h1> ELLE'S WORK</h1><br>
<div class="row">
  <div class="column column-6">
    <img class="portfolio-img" src="files/CTatum.png">
  </div>
  <div class="column column-4">
    <h3> Channing Tatum Matching Game </h3>
    <p><b>Description: </b>
    A 2 player matching game featuring gifs of the lovely Channing Tatum.
    The person who finds the matching gifs with the lease amount of clicks
    is the winner!</p>
    <p><b>Technologies: </b> HTML5, CSS3, JavaScript<p>
    <a href="http://ellekim89.github.io"><i class="fa fa-desktop"></i></a>
    <a href="https://github.com/ellekim89/ellekim89.github.io"><i class="fa fa-github"></i></a>
  </div>
</div><br>

<div class="row">
  <div class="column column-6">
    <img class="portfolio-img" src="files/woofr.png">
  </div>
  <div class="column column-4">
  <h3> Woofr </h3>
    <p><b>Description: </b>
    Find and adopt your new canine best friend. Woofr uses the petfinder API
    to find you a potential furry buddy near you that needs a loving new home
    Tinder style!
    </p>
    <p><b>Technologies: </b> Ruby on Rails, HTML5, CSS3, jQuery, Bcrypt, AJAX<p>
    <a href="https://woofr.herokuapp.com/"><i class="fa fa-desktop"></i></a>
    <a href="https://github.com/ellekim89/WOOFr"><i class="fa fa-github"></i></a>
  </div>
</div><br>

<div class="row">
  <div class="column column-6">
    <img class="portfolio-img" src="files/bose.png">
  </div>
  <div class="column column-4">
  <h3> BloxScore </h3>
    <p><b>Description: </b>
     Get a quick snapshot of your new potential Seattle home.
     We used several APIs like Yelp, Zillow, WalkScore, and Instagram to provide you
     scores, photos and descriptions of what your home will be like.
    </p>
    <p><b>Technologies: </b> Node.js, Express, HTML5, CSS3, jQuery, Bcrypt, AJAX<p>
    <a href="https://bloxscore.herokuapp.com/"><i class="fa fa-desktop"></i></a>
    <a href="https://github.com/ellekim89/BOSE"><i class="fa fa-github"></i></a>
  </div>
</div><br>

<div class="row">
  <div class="column column-6">
    <img class="portfolio-img" src="files/8ball.png">
  </div>
  <div class="column column-4">
  <h3> Magic Eight Ball </h3>
   <p><b>Description: </b>
      This fun app will provide you a yes or no answer to the most thought provoking questions you might have.
    </p>
  <p><b>Technologies: </b> Python, Flask, React.js, Gulp, CSS3<p>
  <a href="https://magichateball.herokuapp.com"><i class="fa fa-desktop"></i></a>
  <a href="https://github.com/ellekim89/react_flask"><i class="fa fa-github"></i></a>
  </div>
</div><br>

<div class="row">
  <div class="column column-6">
    <img class="portfolio-img" src="files/Rank.png">
  </div>
  <div class="column column-4">
  <h3> Restaurant Ranker </h3>
   <p><b>Description: </b>
      Allows you to give a very thorough ranking of the restaurant by allowing you to give as much likes and dislikes as you'd like
      depending on the service you recieve. You'll also see which restaurants have the highest rating depending
      on the zip code.
    </p>
    <p><b>Technologies: </b> Node.js, Express, HTML5, CSS3, jQuery, Bcrypt, AJAX<p>
    <a href="https://rankarestaurant.herokuapp.com/"><i class="fa fa-desktop"></i></a>
    <a href="https://github.com/ellekim89/restaurantrank"><i class="fa fa-github"></i></a>
  </div>
</div></center>